#usertype {
	margin-right: auto;
	margin-left: auto;
	width: 220px;
}

.collapse {
	height: 10px;
	background-image: url("http://wallpaperpanda.com/wallpapers/dTK/Xre/dTKXreATa.jpg");
}
.panel {
	width: 300px;
	display: inline-block;
}

#leftmost {
	margin-left: 100px;
}

#rightmost {
	margin-right: 100px;
}

#middle {
	margin-right: auto;
	margin-left: auto;
}

.queues {
	display: flex;
	justify-content: space-between;
}

.queues div {
	white-space: nowrap;
}

.col-lg-6 {
	display: inline-block;
	width: 150px;
}

.bodygroup {
	background-image: url('http://fc07.deviantart.net/fs70/i/2012/052/9/e/alps__mountain_background_by_austriaangloalliance-d4qiel1.jpg');
	height: 500px;
}