body {
  	padding-top: 40px;
  	padding-bottom: 40px;
  	background-color: #eee;
}

.panel {
	max-width: 400px;
 	margin: 0 auto;

}

#headline {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 120px;
  width: 510px;
  text-align: left;
  max-width: 330px;
  margin: 0 auto;
}
